.button {
    display: flex;
    height: 32px;
    justify-content: center;
    font-size: 13px;
    outline: none !important;
    cursor: pointer;
    overflow: hidden;
    font-family: Roboto-Regular !important;
}


.btn-add, .btn-save {
    background-color: #00abfe;
    align-items: center;
    border-radius: 4px;
    min-width: 96px;
    border: none;
    margin-left: 10px;
    color: #fff;
}

    .btn-add:hover {
        background-color: #57c7fd;
        cursor: pointer;
    }

.btn-refresh {
    border-radius: 2.5px;
    border: 1px solid #e0e0e0;
    width: 31px;
    margin-left: 10px;
    background-color: #fff;
}

    .btn-refresh:hover {
        background-color: #e9ebee;
        cursor: pointer;
    }

.btn-remove {
    background-color: #ffffff;
    border-radius: 2.5px;
    border: 1px solid #e0e0e0;
    width: 31px;
    margin-left: 10px;
    background-color: #fff;
}

    .btn-remove:hover {
        background-color: #e9ebee;
        cursor: pointer;
    }

.btn-cancel {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    width: 96px;
    padding: 9px 31px;
    /* margin-left: 10px; */
    color: black;
    align-items: center;
}

.btn-add-second {
    background-color: #fff;
    border-radius: 4px;
    height: 32px;
    font-size: 13px;
    color: #00abfe;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #00abfe;
    min-width: 120px;
}

.btn-remove-second {
    background-color: #fff;
    border-radius: 4px;
    height: 32px;
    color: #212121;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #e0e0e0;
    min-width: 120px;
    margin-left: 10px;
}
.btn-help{
    border:none;
    background-color:#fff;
    position: absolute;
    right: 22px;
}
.btn-close {
    border: none;
    background-color: #fff;
    position: absolute;
    right: -4px;
}

.btn-function {
    display: flex;
    justify-content: center;
    outline: none !important;
    cursor: pointer;
    overflow: hidden;
    height: 25px;
    width: 27px;
    background-color: #F0F8FF;
    border: none;
}
.btn-save{
    margin-right:24px;
}
.btn-cancel {
    margin-left: 24px;
}

.btn-search{
    margin-left: 15px;
    width: 80px;
    height: 34px;
    outline: none !important;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: gray;
}
    .btn-search:hover {
        background-color: #716767;
    }