@media only screen and (max-width: 1024px) {

    .navbar .logo-site .qlts-text, .navbar .logo-site .toggle-icon{
        display: none;
    }
    .navbar .navbar-content .navbar-item-text, .navbar i{
        display: none;
    }
    .wrapper .row .left {
        width: 50px !important;
    }
   
}

