<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản Lý Thực Hành</title>
    <link rel="icon" href="/Content/icon/logo-qlts.svg" />
    <link href="../lib/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../uicons-solid-rounded/css/uicons-solid-rounded.css" rel="stylesheet" />
    <link href="../Css/common/common.css" rel="stylesheet" />
    <link href="../Css/common/main.css" rel="stylesheet" />
    <link href="../Css/common/navbar.css" rel="stylesheet" />
    <link href="../Css/common/header.css" rel="stylesheet" />
    <link href="../Css/common/content.css" rel="stylesheet" />
    <link href="../Css/common/button.css" rel="stylesheet" />
    <link href="../Css/common/grid.css" rel="stylesheet" />
    <link href="../Css/common/icon.css" rel="stylesheet" />
    <link href="../Css/common/input.css" rel="stylesheet" />
    <link href="../Css/common/layout.css" rel="stylesheet" />
    <link href="../Css/common/toolbar.css" rel="stylesheet" />
    <link href="../Css/common/loading.css" rel="stylesheet" />
    <link href="../Css/common/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Css/site.css" />
    <link href="../Css/common/warring.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper container-fluid h-100">
        <div class="row h-100">
            <div class="left col-auto ">
                <div class="navbar">
                    <div class="logo-site">
                        <button class="qlts-logo m-button-clear m-background-image"></button>
                        <div class="qlts-text">
                            <a href="/View/Home.html" title="Trang chủ">
                                QLTH.VN
                            </a>
                        </div>
                        <button class="toggle-icon m-background-image"></button>
                    </div>
                    <div class="navbar-content">
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/SchoolYear.html" title="Năm học">
                                <div class="navbar-item-icon m-background-image icon-schoolyear"></div>
                                <div class="navbar-item-text">Năm học</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/Semester.html" title="Học kỳ">
                                <div class="navbar-item-icon m-background-image icon-semester"></div>
                                <div class="navbar-item-text">Học kỳ</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/Course.html" title="Khóa học">
                                <div class="navbar-item-icon m-background-image icon-course"></div>
                                <div class="navbar-item-text">Khóa học</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/Ology.html" title="Khoa">
                                <div class="navbar-item-icon m-background-image icon-ology"></div>
                                <div class="navbar-item-text">Khoa</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/Majors.html" title="Ngành">
                                <div class="navbar-item-icon m-background-image icon-majors"></div>
                                <div class="navbar-item-text">Ngành</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/Subject.html" title="Bộ môn">
                                <div class="navbar-item-icon m-background-image icon-subject"></div>
                                <div class="navbar-item-text">Bộ môn</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/Module.html" title="Học phần">
                                <div class="navbar-item-icon m-background-image icon-module"></div>
                                <div class="navbar-item-text">Học phần</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/ModuleClass.html" title="Lớp học phần">
                                <div class="navbar-item-icon m-background-image icon-ModuleClass"></div>
                                <div class="navbar-item-text">Lớp học phần</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/PracticeGroup.html" title="Nhóm thực hành - thí nghiệm">
                                <div class="navbar-item-icon m-background-image icon-PracticeGroup"></div>
                                <div class="navbar-item-text">Nhóm thực hành - thí nghiệm</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/Class.html" title="Lớp học">
                                <div class="navbar-item-icon m-background-image icon-Class"></div>
                                <div class="navbar-item-text">Lớp học</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/Teacher.html" title="Giảng viên">
                                <div class="navbar-item-icon m-background-image icon-Teacher"></div>
                                <div class="navbar-item-text">Giảng viên</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/Student.html" title="Sinh viên">
                                <div class="navbar-item-icon m-background-image icon-Student"></div>
                                <div class="navbar-item-text">Sinh viên</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/Building.html" title="Tòa nhà">
                                <div class="navbar-item-icon m-background-image icon-Building"></div>
                                <div class="navbar-item-text">Tòa nhà</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/PracticalLaboratory.html" title="Phòng thực hành - thí nghiệm">
                                <div class="navbar-item-icon m-background-image icon-PracticalLaboratory"></div>
                                <div class="navbar-item-text">Phòng thực hành - thí nghiệm</div>
                            </a>
                        </div>
                        <div class="navbar-item-box">
                            <a class="navbar-item" href="/View/User.html" title="Quản lý tài khoản">
                                <div class="navbar-item-icon m-background-image icon-user"></div>
                                <div class="navbar-item-text">Quản lý tài khoản</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col">
                <div class="header">
                    <div class="header-left">
                        <div><a class="parent-title" href="/View/Home.html" title="Quản lý thực hành">Quản lý thực hành</a></div>
                        <div class="m-seperator m-background-image"></div>
                        <div class="child-title"><a href="/View/Building.html" title="Tòa nhà">Tòa nhà</a></div>
                    </div>
                    <div class="header-right">
                        <a href="javascript:;" title="Đăng xuất" id="logout">Đăng xuất</a>
                    </div>
                </div>
                <div class="content">
                    <div>
                        <div class="tool-bar" id="tbGrdDepartment">
                            <div class="filter-bar">
                                <input id="txt-search" class="input-search icon-search info__type__emp" type="text" placeholder="Tìm Kiếm ..." autocomplete="off" />
                                <button class="btn-search">Tìm kiếm</button>
                                <select class="cbx_header info__type__emp" id="cbx_header" fieldName="BaseBuilding">
                                    <option value="">---Vui lòng chọn cơ sở---</option>
                                    <option value="Cơ sở 1">Cơ sở 1</option>
                                    <option value="Cơ sở 2">Cơ sở 2</option>
                                    <option value="Cơ sở 3">Cơ sở 3</option>
                                </select>
                            </div>
                            <div class="tool-bar-right">
                                <div>
                                    <button class="button btn-add" id="btn-add" title="Thêm mới">Thêm mới</button>
                                </div>
                                <div>
                                    <button class="button btn-refresh" id="btn-refresh" title="Làm mới">
                                        <div class="icon-refresh">

                                        </div>
                                    </button>
                                </div>
                                <div>
                                    <button class="button btn-remove" id="btn-remove" title="Xóa">
                                        <div class="icon-remove ">
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-default">
                                <table id="tbListData" border="0" cellspacing="0" cellpadding="0">
                                    <thead>

                                        <tr>
                                            <th class="text-center" fomatType="STT" style="width:5%">STT</th>
                                            <th fieldName="BuildingName" class="text-align-left" style="width:45%">Tên Tòa Nhà</th>
                                            <th fieldName="BaseBuilding" class="text-align-left" style="width:45%">Tên Cơ sở</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="dialog">
                        <div id="dialog" class="dialog__content" title="Quản Lý Tòa Nhà" style="display:block">
                            <div class="container-fluid">
                                <div class="row content-form">
                                    <div class="top col-12">
                                        <div class=" parent-sub-content">
                                            <div class=" sub-content" style="width:100%">
                                                <div class="sub-title">Tên tòa nhà (<span>*</span>)</div>
                                                <input class="input-text info__type__emp" fieldName="BuildingName" dataType="text" required tabindex="1" />
                                            </div>
                                        </div>

                                        <div class=" parent-sub-content">
                                            <div class=" sub-content" style="width:100%">
                                                <div class="sub-title">Tên cơ sở (<span>*</span>)</div>
                                                <select class="info__type__emp" fieldName="BaseBuilding" tabindex="2">
                                                    <option value="Cơ sở 1">Cơ sở 1</option>
                                                    <option value="Cơ sở 2">Cơ sở 2</option>
                                                    <option value="Cơ sở 3">Cơ sở 3</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom col-12">
                                    <button class="button btn-cancel" id="btn-cancel" tabindex="3">Hủy</button>
                                    <button class="btn-save button" id="btn-save" tabindex="4">Lưu</button>
                                    <button class="btn-save button" id="btn-update" tabindex="4">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="warring">

        <div class="warring-title">
            <div class="title-warring">Quản lý thực hành</div>
            <button class="close" type="submit"></button>
        </div>
        <div >
            <div class="warring-content">
                <div class="warring-icon"></div>
                <div class="warring-notify"></div>
            </div>
            <div class="warring-button">
                <button id="btn-no-warring">Hủy</button>
                <button id="btn-yes-warring">Xóa</button>
                <button id="btn-ok-warring">Đóng</button>
            </div>
        </div>
    </div>

    <div class="success">
        <div class="success_icon"></div>
        <div class="success_content"> </div>
        <button class="success_button" type="submit"></button>
    </div>

    <div class="loading">
        <div class="loading-modal"></div>
        <div class="loading-icon"></div>
    </div>

    <input id="objectID" value="BuildingID" type="hidden" />
    <input id="objectTitle" value="BuildingName" type="hidden" />

    <script src="../lib/jquery-3.5.1.min.js"></script>
    <script src="../lib/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../Js/site.js"></script>
    <script src="../Js/navigation.js"></script>
    <script src="../Js/Common/common.js"></script>
    <script src="../Js/Common/base.js"></script>

    <script src="../Js/View/building.js"></script>
</body>
</html>
