.m-btn {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    float: right;
}

    .m-btn .btn {
        margin: 0 16px;
    }

.selected-row{
    background-color: #2bff29 !important;
}
    .selected-row:hover {
        background-color: #2bff29 !important;
    }

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

    .custom-menu li {
        padding: 8px 12px;
        cursor: pointer;
        list-style-type: none;
        transition: all .3s ease;
        user-select: none;
    }

        .custom-menu li:hover {
            background-color: #DEF;
        }

.text-align-center{
    text-align: center !important;
}

.text-align-right {
    text-align: right !important;
}

.th-number{
    width: 100px;
    color: red;
}